<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WCProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2C3649C1D338C6D00AA5D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C364B51D338C7000AA5D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C364C01D338C7000AA5D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
